
<div class="w-75 m-auto  my-5 p-5">

  <div *ngIf ='error'class="alret alert-danger my-2">
    <p>{{error}}</p>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)='registration(registerForm)'>

    <div class="my-2">
      <label for="first_name">firstName</label>
      <input formControlName ='first_name'type="text" class="form-control">
      <div *ngIf='registerForm.get("first_name")?.errors != null && registerForm.get("first_name")?.touched 'class="alert alert-danger mt-2">
        <p *ngIf='registerForm.get("first_name")?.errors?.required'>last name is required</p>
        <p *ngIf='registerForm.get("first_name")?.errors?.minlength'>min length is 5 chars</p>
        <p *ngIf='registerForm.get("first_name")?.errors?.maxlength'>max length is 10 chars</p>
      </div>
    </div>

    <div class=" my-2">
      <label for="last_name">lastName</label>
      <input formControlName ='last_name'type="text" class="form-control">
      <div *ngIf='registerForm.get("last_name")?.errors != null && registerForm.get("last_name")?.touched 'class="alert alert-danger mt-2">
        <p *ngIf='registerForm.get("last_name")?.errors?.required'>last name is required</p>
        <p *ngIf='registerForm.get("last_name")?.errors?.minlength'>min length is 5 chars</p>
        <p *ngIf='registerForm.get("last_name")?.errors?.maxlength'>max length is 10 chars</p>
      </div>
    </div>

    <div class="my-2">
      <label for="age">age</label>
      <input formControlName ='age'type="number" class="form-control">
      <div *ngIf='registerForm.get("age")?.errors != null && registerForm.get("age")?.touched 'class="alert alert-danger mt-2">
        <p *ngIf='registerForm.get("age")?.errors?.required' >age is required</p>
        <p *ngIf='registerForm.get("age")?.errors?.min'>min age is 16</p>

      </div>
    </div>

    <div class="my-2">
      <label for="email">email</label>
      <input formControlName ='email'type="email" class="form-control">
      <div *ngIf='registerForm.get("email")?.errors != null && registerForm.get("email")?.touched 'class="alert alert-danger mt-2">
        <p *ngIf='registerForm.get("email")?.errors?.required'>email is required</p>
        <p *ngIf='registerForm.get("email")?.errors?.email'>email is invalid</p>
      </div>
    </div>

    <div class="my-2">
      <label for="password">password</label>
      <input formControlName ='password'type="password" class="form-control">
      <div *ngIf='registerForm.get("password")?.errors != null && registerForm.get("password")?.touched 'class="alert alert-danger mt-2">
        <p *ngIf='registerForm.get("password")?.errors?.required'>password is required</p>
      </div>
    </div>

    <button [disabled]='registerForm.invalid' type ="submit" class="mt-3 btn btn-info text-light" >register</button>
    </form>

</div>

